{% extends "normal.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block content %}
	{{ super() }}
	<section>
		<article>
			<header>
				<h2>That's it that's all</h2>
				<p>Posted on August 1, 2012</p>
			</header>
			<p>This is far better than any blog post I'll be writing anytime soon.</p>
			<p><iframe class="vimeo-video" src="http://player.vimeo.com/video/1866129" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
			<p><a href="http://vimeo.com/1866129">That's It, That's All. - Trailer</a> from <a href="http://vimeo.com/collabmedia">Collaborative Media</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
		</article>
	</section>
{% endblock %}
